<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atmos.com | Home</title>
    <link rel="stylesheet" href="stylesheets/index.css">
    <link rel="stylesheet" href="stylesheets/common.css">
</head>

<body>
    <div class="main-research-container">
        <div class="navbar-container">

            <div class="logo-container">
                <img class="logo" src="images/homepage/icons/logo.png">
            </div>

            <div class="navbar-button-container">
                <button class="navbar-item">Home</button>
                <button class="navbar-item">Maps</button>
                <button class="navbar-item">Info</button>
                <button class="navbar-item">Test</button>
            </div>

            <div class="login-signup-container">
                <button class="login">login</button>
                <button class="sign-up">sign up</button>
            </div>
        </div>

        <div class="main-research">
            <p>Weather info. Just a click away.<br>
                <span>
                    Atmos is a powerful tool that allows you to get weather data on any city in the world.
                </span>
            </p>
            <div>
                <form action="http://localhost/" method="POST">
                    <input class="forecast-input" placeholder="Enter a city" id="search_term" name="location">
                    <button onclick="showBufferingIcon()" class="city-forecast-button">
                        Weather
                        Forecast
                    </button>
                </form>

                <img class="buffering-rocket-icon" src="images/homepage/icons/rocket.svg" id="rocket" type="submit">
            </div>
        </div>

    </div>


    <div class="overview-card">

        <p class="website-overview-card">
            <span class="number-highlight">01.</span>

            <span class="title">
                Easy and user-friendly<br>
            </span>
            <span class="description">
                Start by selecting a city. <br>Our website will give you the most precise weather data, directly fetched
                from meteo stations around the world
                thanks to out powerful OpenWeatherMap API.
                Sign up to save your favorite cities, receive personalized emails, and more
            </span>
        </p>
        <img src="images/homepage/website_overview/umbrella.svg" style="float:right; width: 700px;height:auto;">
    </div>

    <div class="overview-card second">

        <img src="images/homepage/website_overview//exploration.svg" class="overview-image-mountain">

        <p class="website-overview-card">
            <span class="number-highlight">02.</span>

            <span class="title">
                Worldwide coverage<br>
            </span>
            <span class="description">
                Start by selecting a city. <br>Our website will give you the most precise weather data, directly fetched
                from meteo stations around the world
                thanks to out powerful OpenWeatherMap API.
            </span>
        </p>

    </div>

    <div class="overview-card">

        <p class="website-overview-card">
            <span class="number-highlight">03.</span>

            <span class="title">
                Live weather alerts<br>
            </span>
            <span class="description">
                Start by selecting a city. <br>Our website will give you the most precise weather data, directly fetched
                from meteo stations around the world
                thanks to out powerful OpenWeatherMap API.
                Sign up to save your favorite cities, receive personalized emails, and more
            </span>
        </p>

        <img src="images/homepage/website_overview//notification.svg" style="float:right; width:700px;height:auto;">

    </div>



    <div style="margin-top: 80px;">
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>
            <g class="parallax">
                <use xlink:href="#gentle-wave" x="48" y="0" fill="#3554b1" />
                <use xlink:href="#gentle-wave" x="48" y="5" fill="#2f4a9d" />

                <use xlink:href="#gentle-wave" x="48" y="3" fill="#233876" />

                <use xlink:href="#gentle-wave" x="48" y="7" fill="#1d3062" />
            </g>
        </svg>

    </div>



    <div class="why-card-row-container">

        <p class="row-title">
            Why using our tool?<br>
            <span class="row-subtitle"> a handful of things we're proud of.</span>
        </p>

        <div class="why-card-row">
            <div class="why-card">
                <div class="why-card-logo-container">
                    <img src="images/homepage/icons/fuse-box.png" class="why-card-logo">
                </div>
                <p class="why-card-description">
                    <span class="why-card-title">Powerful</span><br><br>
                    This website's API calls, database fetching and processes are executed in the most efficient
                    way possible in order to enhance optimization, loading times, and server response-time.
                </p>
            </div>
            <div class="why-card">
                <div class="why-card-logo-container">
                    <img src="images/homepage/icons/optimization.png" class="why-card-logo">
                </div>
                <p class="why-card-description">
                    <span class="why-card-title">Totally Optimized</span><br><br>
                    This website's API calls, database fetching and processes are executed in the most efficient
                    way possible in order to enhance optimization, loading times, and server response-time.
                </p>
            </div>
            <div class="why-card">
                <div class="why-card-logo-container">
                    <img src="images/homepage/icons/support.png" class="why-card-logo">
                </div>
                <p class="why-card-description">
                    <span class="why-card-title">Worldwide Support</span><br><br>
                    Having trouble using our website?
                    Fill in the contact form to send us feedback.
                    Answers are to be expected in a working day.
                    From anywhere.
                </p>
            </div>
        </div>
    </div>

    <div class="our-fake-partners">
        <img src="https://cdn.logojoy.com/wp-content/uploads/2019/02/20102301/google%402x.png"
            style="height:40px;width:auto;">

        <img src="https://cdn.logojoy.com/wp-content/uploads/2019/02/20102302/techCrunch%402x.png"
            style="height:35px;width:auto;">

        <img src="https://cdn.logojoy.com/wp-content/uploads/2019/02/20102302/huffpost%402x.png"
            style="height:30px;width:auto;">
        <img src="https://cdn.logojoy.com/wp-content/uploads/2019/02/20102258/Forbes%402x.png"
            style="height:35px;width:auto;">

        <img src="https://cdn.logojoy.com/wp-content/uploads/2019/02/20102300/globe-and-mail%402x-350x37.png"
            style="height:30px;width:auto;">
    </div>

    <script type="text/javascript" src="js/google_places_autocomplete.js"></script>

    <script async
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDi1QzbnJw_qUqkYgU80ktAVCxrAg0wsGI&libraries=places&callback=activatePlacesSearch">
    </script>


    <script type="text/javascript" src="js/index_scripts.js"></script>
</body>

</html>