@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
:root {
    --dark-blue: #1d3062;
    --blurple: #4d4dff;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none;/* Firefox */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
     user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}


/*Chrome*/

::-webkit-scrollbar {
    display: none;
}


/*NAVBAR AND BUTTON BEHAVIOR*/

.button:hover {
    cursor: pointer;
}

div.navbar-container {
    background-color: var(--dark-blue);
    width: 100%;
    height: 90px;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02), 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028), 12.5px 12.5px 10px rgba(0, 0, 0, 0.035);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

div.logo-container {
    width: 25%;
    text-align: center;
}

div.logo-container>img.logo {
    height: 50px;
    width: auto;
}

div.navbar-button-container {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}

button.sign-up:hover,
button.login:hover {
    transform: scale(1.05);
}

.navbar-button-container>button.navbar-item {
    width: 90px;
    border-radius: 15px;
    background-color: var(--blurple);
    color: white;
    border: none;
    padding: 6px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Fredoka one', cursive;
}

.navbar-button-container>button.navbar-item:hover {
    transform: scale(1.05);
}

div.login-signup-container {
    width: 25%;
    text-align: center;
}

div.login-signup-container>button.sign-up {
    width: 110px;
    height: 50px;
    background-color: var(--blurple);
    color: white;
    font-weight: 200;
    border-radius: 5px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    font-family: 'Fredoka one', cursive;
    letter-spacing: 0.5px;
    margin-left: 20px;
}

div.login-signup-container>button.login {
    width: 110px;
    height: 50px;
    font-size: 18px;
    background-color: white;
    color: #313638;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    letter-spacing: 0.55px;
    font-family: 'Fredoka one', cursive;
}

.pac-container {
    position: -3px !important;
    border-radius: 5px;
    font-family: Montserrat;
    margin-top: 4px;
    font-size: 55px;
}

.pac-container:after {
    content: none !important;
}

.footer {
    bottom: 0;
    width: 100%;
    height: 500px;
    background-color: var(--dark-blue);
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}