:root {
    --dark-blue: #1d3062;
    --blurple: #4d4dff;
    --light-grey: #f4f6f8;
    --extra-light-blue: #d3deff;
}

div.main-research-container {
    height: 600px;
    background-color: var(--dark-blue);
    margin: 0;
}

div.main-research {
    width: 100%;
    text-align: center;
    padding-top: 120px;
}

div.main-research>p {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    padding-top: 30px;
}

div.main-research>p>span {
    color: var(--extra-light-blue);
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding-top: 30px;
}

div.main-research>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

div.main-research>div>form>input.forecast-input {
    width: 500px;
    height: 50px;
    border-radius: 15px;
    border: none;
    background-color: var(--extra-light-blue);
    padding-left: 15px;
}

div.main-research>div>input.forecast-input::placeholder {
    font-size: 18px;
    font-family: 'Fredoka One', cursive;
}

div.main-research>div>form>button.city-forecast-button {
    height: 52px;
    width: 155px;
    padding: 10px;
    border-radius: 15px;
    border: none;
    background-color: var(--blurple);
    font-family: 'Fredoka One', cursive;
    letter-spacing: 0.5px;
    font-size: 14.2px;
    margin-left: 15px;
    color: white;
    cursor: pointer;
}

div.main-research>div>button:hover {
    transform: scale(1.05);
}

img.buffering-rocket-icon {
    height: 40px;
    width: auto;
    margin-left: 20px;
    display: none;
    z-index: 0;
    animation: animate 0.4s ease-in infinite;
}

div.overview-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 50px 200px 0px 400px;
}

div.overview-card.second {
    padding: 0 400px 0px 200px;
}

div.overview-card.second>img.overview-image-mountain {
    width: 630px;
    height: auto;
}

p.website-overview-card {
    width: 550px
}

p.website-overview-card>span.number-highlight {
    font-size: 48px;
    color: var(--blurple);
    font-family: 'Fredoka one', cursive;
    font-weight: bold;
}

p.website-overview-card>span.title {
    font-size: 43px;
    color: #313638;
    font-family: 'Fredoka one', cursive;
    letter-spacing: 0.6px;
}

p.website-overview-card>span.description {
    font-size: 21.5px;
    color: grey;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
}

div.why-card-row-container {
    height: 800px;
    background-color: var(--dark-blue);
    padding-top: 80px;
}

div.why-card-row-container>p.row-title {
    text-align: center;
    font-family: Fredoka one;
    font-size: 56px;
    color: white
}

div.why-card-row-container>p.row-title>span.row-subtitle {
    font-size: 21px;
    color: white
}

div.why-card-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

div.why-card-row>div.why-card {
    background-color: #3a5abd;
    height: 400px;
    width: 350px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

div.why-card-row>div.why-card:hover {
    transition: ease-in all 0.1s;
    transform: scale(1.05);
}

div.why-card>div.why-card-logo-container {
    text-align: center;
    border-radius: 50%;
    background-color: white;
    height: 130px;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.why-card>div.why-card-logo-container>img.why-card-logo {
    height: 100px;
    width: 100px
}

div.why-card>p.why-card-description {
    color: white;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 13px;
    font-size: 16.5px;
    font-family: 'Montserrat';
}

div.why-card>p.why-card-description>span.why-card-title {
    font-size: 30px;
    text-align: center;
    font-family: Fredoka one;
}

div.our-fake-partners {
    width: 100%;
    background-color: #f4f6f8;
    height: 120px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

div.our-fake-partners>img.fake-partner {
    height: 40px;
    width: auto;
}

div.footer>div.inside-container {
    display: flex;
    flex-direction: column;
    width: 1200px;
    text-align: center;
    margin-top: 100px;
}

div.footer>div.inside-container>div>div.social-container {
    flex-direction: column;
    justify-content: flex-start;
    width: 400px
}

div.social-container>div.social-icons-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 60px;
    padding-right: 60px;
}

div.social-container>div.social-icons-container>img.social-icon {
    height: 30px;
    width: 30px;
}

div>p.footer-column-title {
    font-family: montserrat;
    color: #d3deff;
    font-size: 18px;
    margin-top: 4px;
}

div>p.footer-clickable {
    font-family: montserrat;
    font-size: 13px;
}

div.social-container>p.weather-solutions-title {
    font-family: Fredoka one;
    font-size: 40px;
    margin: 0 0 20px 0;
}


div.footer-bottom-container {
    margin-top: 30px;
    width: 100%;
    border-top: 1px solid white;
    display: flex;
    flex-direction: row;
    padding-top: 40px;
    justify-content: space-between;
    align-items: center;
}

/* ANIMATIONS AND KEYFRAMES CSS */

.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px;
    /*Fix for safari gap*/
    min-height: 100px;
    max-height: 150px;
}

.parallax>use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 9s;
}

.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 12s;
}

.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 15s;
}

.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 22s;
}

@keyframes animate {

    0%,
    100% {
        transform: translateY(2px)
    }

    25% {
        transform: translateX(-1px)
    }

    50% {
        transform: translateY(-2px)
    }

    75% {
        transform: translateX(1px)
    }
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}


/*MEDIA QUERIES*/

@media (max-width: 768px) {
    .waves {
        height: 40px;
        min-height: 40px;
    }

    .content {
        height: 30vh;
    }

    h1 {
        font-size: 24px;
    }
}